@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html, body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0c1322;
  background-size: cover;       /* o '100% 100%' */
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4B5563; /* gray-600 */
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6B7280; /* gray-500 */
}


